html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* All above is CSS reset */

/* this would be extremely convenient but not supported by iOS yet. used JS instead */
html {
  scroll-behavior: smooth;
}

#navButton {
  position: fixed;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  z-index: 10;
  transition: .2s;
}

#navButton:hover {
  transform: scale(1.2);
  fill: gray;
}

#navBar {
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -70vw;
  background: black;
  transition: .5s ease-out;
  z-index: 1000;
  color: white;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 6rem;
  cursor: default;
}

#navBar ul {
  padding: 3rem;
}

#navBar li {
  margin-bottom: 3rem;
}

#navBar li:hover {
  color: gray; 
}

.navChapter {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  text-decoration: none;
  cursor:pointer;
}

#navClose {
  position: absolute;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  fill: white;
  transition: .2s;
}

.navModal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .3);
  z-index: 999;
}

#navClose:hover {
  fill: gray;
}

h1, h2, h3, h4, .title p {
  cursor: default;
  user-select: none;
}

header {
  position: relative;
}

.bannerImg {
  width: 100%;
  height:1710px;
  overflow: hidden;
  background-color: black;
}

.bannerAsset {
  width: auto;
  opacity: .8;
  transition: .5s;
}

.darken {
  opacity: 0;
}

.titleArea {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 2.5rem;
  text-align: center;
  transform: scale(.75);
  transition: 1s;
}

.upscale {
  transform: scale(1);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 8rem;
  margin-bottom: 1.75rem;
}

.titleArea p {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  margin-bottom: 6.5rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

figure {
  width: 100%;
}

figure img {
  width: 100%;
}

.blockQuote {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  margin: 7rem auto 0 auto;
}

.quoteMarks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

.leftQuote, .rightQuote {
  width: 5rem;
}

.leftQuote {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  position: relative;
  left: 50%;
}

.rightQuote {
  position: relative;
  align-self: flex-end;
  right: 50%;
}

.slideLeft {
  left: 0;
}

.slideRight {
  right: 0;
}

.quote {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  text-align: center;
  line-height: 130%;
  opacity: 0;
}

.citation {
  font-family: 'Merriweather', serif;
  text-align: center;
  line-height: 150%;
  width: 100%;
  margin: 2rem 0 0 0;
  opacity: 0;  
}

.expanded {
  opacity: 1;
}

.activeMark {
  transition: .75s
}

.activeText {
  transition: .75s;
  transition-delay: .5s;
}

.author {
  font-size: .75rem;
}

.source {
  font-style: italic;
  font-size: .6rem;
}

.textBlock {
  font-family: 'Merriweather', serif;
  font-size: 1.4rem;
  width: 85vw;
  margin: 0 auto;
  text-align: left;
  line-height: 200%;
}

.sectionHeader {
  position: relative;;
  height: 100vh;
  margin: 5rem 0 0 0;
  overflow: hidden;
}

h3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 12rem;
  text-align: center;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  opacity: 0;
  z-index: 1;
  transition: 1s;
}

.fadeIn {
  opacity: 1;
  top: 50%;
}

.sectionImg {
  object-fit: cover;
  height: 100%;
  filter: grayscale(100%);
  transition: 1s;
}

.colorized {
  filter: grayscale(0%);
}

.captionBlock {
  position: relative;
  margin: 7rem;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid darkgray;
}

.capImg {
  width: 30vw;
}

.captionBlock section {
  width: 40vw;
  /* text-align: right; */
}

.captionBlock p {
  margin-top: 2rem;
  font-size: 2rem;
}

.captionBlock h5 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.captionBlock h6 {
  font-size: 3rem;
  font-weight: 800;
}

#haring {
  object-position: 65% 50%;
}

#ramones {
  object-position: 0% 10%;
}


.lightBox {
  margin: 0 auto;
  position: relative;
  width: 100%;
  /* max-width: 1000px; */
}

.lightBG, .lightFG {
  width: 100%;
  transition: .5s;
}

.lightBG {
  opacity: 1;
  /* border-radius: 5%; */
}

.lightFG {
  position: absolute;
  left: 0;
  z-index: 100;
}

.focused{
  transform: scale(1.3);
}

.blurred {
  opacity: .8;
  filter: blur(5px);
}

.lightButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3rem;
  width: 5rem;
  cursor: pointer;
  animation: 1.5s strobe;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 101;
  opacity: .7;
  border-radius: 50%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  background-color: white;
}

@keyframes strobe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.lightCap {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: .8rem;
}

gfontItal {
  font-style: italic;
}

main {
  /*to prevent horizontal scroll when lightbox image expands */
  overflow-x: hidden;
}

.imgSlider {
  position: relative;
  margin: 5rem auto;
  /* overflow: hidden; */
  border-radius: 5%;
}

.sliderLayer {
  position: absolute;
  height: auto;
  overflow: hidden;
}

.slider {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  cursor: ew-resize;
}

.slider svg {
  width: 8rem;
  fill: white;
  opacity: .3;
}

/* slider divider doesn't play nice with imgSlider border radius, gets clipped */

/* .slider::before {
  position: absolute;
  content: '';
  height: 100vh;
  width: 1px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  opacity: .2;
} */

.sliderImg {
  max-width: 85vw;
  max-height: 85vh;
}

.noInteraction {
  user-select: none;
  pointer-events: none;
}

.galleryNavContainer {
  /* only exists to give the absolute position nav buttons something to cling to */
  position: relative;
}

.imgGallery {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  /* mozilla scroll anchoring was crashing from nav sliding */
  overflow-anchor: none;
}

.imgGallery::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.galleryWrapper {
  /* inline sizes the flexbox to its content, otherwise the frames scroll outside of the wrapper and the wrapper padding right is never used */
  display: inline-flex;
  /* align items prevents distorted image aspect ratio on safari */
  align-items: flex-start;
  padding: 7vw;
}


.galleryFrame {
  margin-right: 5vw;
  border-radius: 5%;
  min-height: 50vh;
  max-height: 85vh;
  transition: .3s;
}

.galleryFrame:last-child {
  margin-right: 0vw;
}

.nontouch:hover {
  transform: scale(1.05);
  background-color: black;
  filter: brightness(85%);
  cursor: pointer;
}

.prevArrow, .nextArrow {
  position: absolute;
  margin: auto 3.5vw;
  width: 5rem;
  background-color: white;
  opacity: .7;
  border-radius: 50%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  transition: .4s;
  cursor: pointer;
}

.prevArrow:hover, .nextArrow:hover {
  transform: scale(1.2);
}

.prevArrow {
  opacity: 0;
}

.nextArrow {
  right: 0; 
}

.nextArrow svg {
  transform: rotate(180deg);
}

.modalImg {
  z-index: 1000;
}

.modalBG {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(0, 0, 0, .8);
}

#imgModal figcaption {
  margin-top: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: white;
}

#imgModal span {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  fill: white;
}

#colorWheel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto 4rem auto;
}

#colorWrapper {
  position: relative;
  display:inline-block;
}

#colorFG {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  filter: saturate(110%) hue-rotate(20deg);
}

#colorBG {
  border-radius: 5%;
  overflow: hidden;
  /* assigning a default width thats too small screws up the hue/sat svg size on mobile */
}

#colorOptions {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#optionWrapper {
  height: 100%;
  width: 25%;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#colorHue, #colorSat {
  fill: black;
  width: 100%;
  background-color: white;
  opacity: .7;
  border-radius: 50%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  cursor: pointer;
}

#colorHue:active, #colorSat:active {
  opacity: .8;
}

.vidWrapper {
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
}

.bowieVid {
  width: 60vw;
  margin: 0 auto;
  cursor: pointer;
}

/* media queries for non-desktop */

@media only screen and (min-width: 1081px) {
  
  #navBar {
    width: 33vw;
  }

  h4 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  #navBar li {
    margin-bottom: 2rem;
  }

  .navChapter {
    font-size: 2rem;
  }

  #navButton, #navClose, #imgModal span {
    width: 3rem;
  }

  #navClose, #imgModal span {
    margin: .5rem;
  }

  .invisibleFlexStartObj {
    display: none;
  }

  .title {
    margin-top: 50vh;
  }

  .citation {
    line-height: 200%;
  }

  .author {
    font-size: 1.5rem;
  }

  .source {
    font-size: .75rem;
  }

  .textBlock {
    font-size: 1.25rem;
    width: 50vw;
    line-height: 190%;
  }

  .sectionHeader {
    height: 110vh;
  }

  #marlon {
    object-position: 50% 30%;
  }

  .blurred {
    filter: blur(8px);
  }

  #imgModal figcaption {
    font-size: 1.25rem;
  }

  .blockQuote {
    padding: 7rem 11rem;
  }

  .quoteMarks {
    width: 75%;
  }

  .quote {
    font-size: 3.8rem;
  }
}