html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* All above is CSS reset */

/* this would be extremely convenient but not supported by iOS yet. used JS instead */
html {
  scroll-behavior: smooth;
}

#navButton {
  position: fixed;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  z-index: 100;
  transition: .2s;
  background-color: white;
  border:.4rem solid black;
}

#navButton:hover {
  transform: scale(1.2);
}

#navBar {
  font-family: 'Raleway', sans-serif;
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -70vw;
  background: black;
  transition: .5s ease-out;
  z-index: 1000;
  color: white;
}

h4 {
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 6rem;
  cursor: default;
}

#navBar ul {
  padding: 3rem;
}

#navBar li {
  margin-bottom: 3rem;
}

#navBar li:last-of-type {
  margin-bottom: 0;
}

#navBar li:hover {
  color: gray; 
}

.navChapter {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  text-decoration: none;
  cursor:pointer;
}

/* css reset for anchor tags */
a, a:link, a:visited, a:active, a:link:active, a:visited:active {
  color: inherit;
  text-decoration: none;
  outline: 0;
  border: none;
}

.navShare {
  border-top: 1px solid hsla(0,0%,100%,.5);
  border-bottom: 1px solid hsla(0,0%,100%,.5);
  padding: 3rem;
  font-size: 1rem;
}

.navShare a {
  margin-right: 1.5rem;
  cursor: pointer;
}

.navShare svg {
  fill: white;
  transition: .2s;
}

.navShare svg:hover {
  transform: scale(1.1);
}

.navShare div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

#navClose {
  position: absolute;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  fill: white;
  /* transition: .2s; */
}

.navModal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .3);
  z-index: 999;
}

/* #navClose:hover {
  fill: gray;
} */

h1, h2, h3, h4, .title p {
  cursor: default;
  user-select: none;
}

header {
  position: relative;
}

.bannerImg {
  width: 100%;
  height:1710px;
  overflow: hidden;
  background-color: sienna;
}

.bannerAsset {
  width: auto;
  /* opacity: .8; */
  transition: .5s;
}

.darken {
  opacity: 0;
}

.titleArea {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 2.5rem;
  text-align: center;
  transform: scale(.75);
  transition: 1s;
}

.upscale {
  transform: scale(1);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 8rem;
  margin-bottom: 1.75rem;
}

.titleArea p {
  font-size: 2rem;
  margin-bottom: 6.5rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

figure {
  width: 100%;
}

figure img {
  width: 100%;
}

.blockQuote {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  margin: 0 auto;
  /* background-color: rgb(240,240,240); */
}

.quoteMarks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 90%;
}

.leftQuote, .rightQuote {
  width: 5rem;
}

.leftQuote {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  position: relative;
  left: 50%;
}

.rightQuote {
  position: relative;
  align-self: flex-end;
  right: 50%;
}

.slideLeft {
  left: 0;
}

.slideRight {
  right: 0;
}

.quote {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  text-align: center;
  line-height: 130%;
  opacity: 0;
}

.citation {
  text-align: center;
  line-height: 150%;
  width: 100%;
  margin: 2rem 0 0 0;
  opacity: 0;  
}

.expanded {
  opacity: 1;
}

.activeMark {
  transition: .75s
}

.activeText {
  transition: .75s;
  transition-delay: .5s;
}

.author {
  font-size: .75rem;
}

.source {
  font-style: italic;
  font-size: .6rem;
}

.textBlock {
  font-size: 1.4rem;
  line-height: 200%;
}

.textBlock h6 {
  line-height: 110%;
}

.textBlock p {
  margin-top: 2rem;
  color: dimgray
}

.sectionHeader {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sectionTitle {
  width: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  line-height: 125%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  /* white-space: nowrap; */
  /* text-align: center; */
  text-shadow: 0 0 1rem rgba(0, 0, 0, .7);
  opacity: 0;
  z-index: 1;
  transition: 1s;
}

.fadeIn {
  opacity: 1;
  top: 50%;
}

.sectionImg {
  object-fit: cover;
  height: 100%;
  filter: grayscale(100%);
  transition: 1s;
}

.colorized {
  filter: grayscale(0%);
}

.captionBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6rem;
}

.capImg {
  align-self: flex-end;
  width: 75vw;
}

.captionBlock section {
  width: 50vw;
}

.captionBlock p {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: dimgray;
  line-height: 150%;
}

h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h6 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: .5rem;
  color: sienna;
  text-align: center;
}

h5 {
  font-size: 3rem;
  font-weight: 800;
}

.parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parallaxBG {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.parallaxFG {
  z-index: 10;
  margin-top: -100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  /* Needs min width set in order for its' children's overflow settings to respect its width */
  min-width: 0;
  background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 12%, rgba(255, 255, 255, 0.7) 95%, rgba(0, 0, 255, 0) 100%);
  width: 100%;
}

.parallaxText {
  display: flex;
  align-items: center;
  height: 100vh;
}

h3 {
  font-family: 'raleway', serif;
  font-weight: 800;
  font-size: 10vmax;
  line-height: 120%;
  color: sienna;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.icons img {
  height: auto;
  width: 40vw;
  border-radius: 10%;
  transition: .5s;
}

.icons span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  transition: .5s;
}

.icons span:hover > img {
  opacity: .7;
}

.icons span div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons span:first-of-type {
  margin-top: 30vh;
}

.icons span:last-of-type {
  margin-bottom: 30vh;
}

#ramones {
  object-position: 0% 15%;
}


.lightBox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.lightBG, .lightFG {
  transition: .5s;
}

.lightBG {
  /* box-sizing: border-box; */
  /* padding: 0 6rem; */
  width: 100%;
  opacity: 1;
  /* For some reason when lightBG and lightCap placed side by side in a flex row, min width is needed in addition to the width above, otherwise width of lightCap seems to override */
  /* min-width: 85%; */
}

/* this container element for lightFG exists so you can apply overflow: hidden and prevent horizontal scroll of main page when image is zoomed */
.lightBox section {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  /* this stuff centers an absolute element */
  left: 0;
  right: 0;
  /* margin: 0 6rem; */
}

.focused{
  transform: scale(1.3);
}

.blurred {
  opacity: .8;
  filter: blur(5px);
}

.lightButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
  width: 4rem;
  cursor: pointer;
  animation: 3s strobe;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 101;
  /* opacity: .6; */
  border-radius: 8%;
  box-shadow: .1rem .2rem .4rem 0 rgba(0,0,0,.2);
  background-color:sienna;
  fill: white;
}

@keyframes strobe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.lightCap {
  align-self: center;
  margin-top: 1rem;
  font-size: .9rem;
}

.lightCap p {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.lightCap details {
  margin-top: 1rem;
  position: absolute;
  color: sienna;
}

.lightCap summary:hover {
  cursor: pointer;
}

.lightCap div {
  margin-top: 1rem;
}

gfontItal {
  font-style: italic;
}

main {
  font-family: 'Merriweather', serif;
}

.slideFeature {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding: 6rem 0 1rem 0;
  align-items: center;
  /* Use justify if textBlock given finite width */
  justify-content: center;
}

.slideFeature .textBlock {
  flex: 1;
  padding: 0 1rem 0 6rem;
  /* text-align: right; */
}

.imgSlider {
  position: relative;
  overflow: hidden;
}

.sliderLayer {
  position: absolute;
  height: auto;
  overflow: hidden;
}

.slider {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  cursor: ew-resize;
}

.slider svg {
  width: 8rem;
  fill: white;
  opacity: .3;
}

/* slider divider doesn't play nice with imgSlider border radius, gets clipped */

/* .slider::before {
  position: absolute;
  content: '';
  height: 100vh;
  width: 1px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  opacity: .2;
} */

.sliderImg {
  max-width: 85vw;
  max-height: 85vh;
}

.noInteraction {
  user-select: none;
  pointer-events: none;
}

.galleryNavContainer {
  /* only exists to give the absolute position nav buttons something to cling to */
  position: relative;
}

.imgGallery {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  /* mozilla scroll anchoring was crashing from nav sliding */
  overflow-anchor: none;
}

.imgGallery::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.galleryWrapper {
  /* inline sizes the flexbox to its content, otherwise the frames scroll outside of the wrapper and the wrapper padding right is never used */
  display: inline-flex;
  /* align items prevents distorted image aspect ratio on safari */
  align-items: flex-start;
  /* if padding is set too low (<1rem), the top of the galleryFrame gets clipped when it gets zoomed in on mouse hover */
  /* if top and bottom padding are not the same it will effect vertical centering of forward/back arrows */
  padding: 3rem 6rem;
}


.galleryFrame {
  margin-right: 5vw;
  border-radius: 5%;
  min-height: 50vh;
  max-height: 85vh;
  transition: .3s;
}

.galleryFrame:last-child {
  margin-right: 0;
}

.nontouch:hover {
  transform: scale(1.05);
  background-color: black;
  filter: brightness(85%);
  cursor: pointer;
}

.prevArrow, .nextArrow {
  position: absolute;
  margin: auto 3.5vw;
  width: 5rem;
  background-color: white;
  opacity: .7;
  border-radius: 15%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  transition: .4s;
  cursor: pointer;

}

.prevArrow:hover, .nextArrow:hover {
  transform: scale(1.2);
}

.prevArrow {
  opacity: 0;
}

.nextArrow {
  right: 0; 
}

.nextArrow svg {
  transform: rotate(180deg);
}

.modalImg {
  z-index: 1000;
}

.modalBG {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(0, 0, 0, .8);
}

#imgModal figcaption {
  margin-top: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: white;
}

#imgModal span {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  fill: white;
}

#colorWheel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto 4rem auto;
}

#colorWrapper {
  position: relative;
  display:inline-block;
}

#colorFG {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  filter: saturate(110%) hue-rotate(20deg);
}

#colorBG {
  border-radius: 5%;
  overflow: hidden;
  /* assigning a default width thats too small screws up the hue/sat svg size on mobile */
}

#colorOptions {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#optionWrapper {
  height: 100%;
  width: 25%;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#colorHue, #colorSat {
  fill: black;
  width: 100%;
  background-color: white;
  opacity: .7;
  border-radius: 50%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  cursor: pointer;
}

#colorHue:active, #colorSat:active {
  opacity: .8;
}

.vidWrapper {
  margin: 0;
  position: relative;
}

.videoControls {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.playButton {
  padding: 3.5vw;
  width: 5rem;
  background-color: white;
  opacity: .7;
  border-radius: 15%;
  box-shadow: 0 .3rem .4rem 0 rgba(0,0,0,.2);
  transition: .4s;
  cursor: pointer;
}

.hidden {
  opacity: 0%;
}

.shown {
  cursor: pointer;
}

.playButton:hover {
  transform: scale(1.2);
}

.video {
  width: 100%;
}

/* media queries for non-desktop */

@media only screen and (min-width: 1081px) {
  
  #navBar {
    width: 33vw;
  }

  h4 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  #navBar li {
    margin-bottom: 2rem;
  }

  .navChapter {
    font-size: 1.5rem;
  }

  #navButton, #navClose, #imgModal span {
    width: 3rem;
  }

  #navButton {
    border: .25rem solid black;
  }

  #navClose, #imgModal span {
    margin: .5rem;
  }

  .invisibleFlexStartObj {
    display: none;
  }

  .title {
    margin-top: 50vh;
  }

  .citation {
    line-height: 200%;
  }

  .author {
    font-size: 1.5rem;
  }

  .source {
    font-size: .75rem;
  }

  .textBlock {
    font-size: 1.25rem;
    line-height: 190%;
  }

  .sectionHeader {
    height: 110vh;
  }

  .blurred {
    filter: blur(8px);
  }

  #imgModal figcaption {
    font-size: 1.25rem;
  }

  .blockQuote {
    padding: 3rem 11rem 7rem 11rem;
  }

  .quote {
    font-size: 3.8rem;
  }

  .parallaxText {
    height: 100vh;
  }

  .parallaxBG {
    opacity: 1;
  }

  .parallaxFG {
    margin-top: 0;
  }

  .icons {
    width: auto;
  }

  .icons img {
    height: 20vh;
    width: auto;
    margin-right: 2rem;
  }

  .icons span {
    flex-direction: row;
  }

  .icons span div {
    display: block;
  }  

  h3 {
    text-align: right;
  }

  .parallax {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 6rem;
    width: auto;
  }

  h6 {
    font-size: 1rem;
    text-align: left;
  }

  .vidWrapper {
    margin: 6rem;
  }
}