html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* All above is CSS reset */

#navButton {
  position: fixed;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  z-index: 10;
  transition: .2s;
}

#navButton:hover {
  transform: scale(1.2);
  fill: gray;
}

#navBar {
  width: 70vw;
  height: 130vh;
  position: fixed;
  left: -70vw;
  background: black;
  transition: .5s ease-out;
  z-index: 100;
  color: white;
}

#navClose {
  position: absolute;
  right: 0;
  margin: 2rem;
  width: 5rem;
  cursor: pointer;
  fill: white;
  transition: .2s;
}

.navModal {
  display: none;
  position: fixed;
  width: 100%;
  /* height larger than screen to avoid jumpy scrolling on mobile */
  height: 130vh;
  background-color: rgba(255, 255, 255, .3);
  z-index: 99;
}

#navClose:hover {
  fill: gray;
}

header {
  position: relative;
}

.bannerImg {
  width: 100%;
  height:1710px;
  overflow: hidden;
  background-color: black;
}

.bannerAsset {
  width: auto;
  opacity: .8;
  transition: .5s;
}

.darken {
  opacity: 0;
}

.titleArea {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.title {
  position: sticky;
  top: 30%;
  text-align: center;
  transform: scale(.75);
  transition: 1s;
}

.upscale {
  transform: scale(1);
}

h1 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 8rem;
  margin-bottom: 1.75rem;
}

.titleArea p {
  font-family: 'Merriweather';
  font-size: 2rem;
  margin-bottom: 6.5rem;
}

h2 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

figure {
  width: 100%;
}

figure img {
  width: 100%;
}

.blockQuote {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.quoteMarks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 90%;
}

.leftQuote, .rightQuote {
  width: 5rem;
}

.leftQuote {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  position: relative;
  left: 50%;
}

.rightQuote {
  position: relative;
  align-self: flex-end;
  right: 50%;
}

.slideLeft {
  left: 0;
}

.slideRight {
  right: 0;
}

.quote {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  line-height: 130%;
  opacity: 0;
}

.citation {
  font-family: 'Merriweather';
  text-align: center;
  line-height: 150%;
  width: 100%;
  margin: 2rem 0 0 0;
  opacity: 0;  
}

.expanded {
  opacity: 1;
}

.activeMark {
  transition: .75s
}

.activeText {
  transition: .75s;
  transition-delay: .5s;
}

.author {
  font-size: .75rem;
}

.source {
  font-style: italic;
  font-size: .6rem;
}

.textBlock {
  font-family: 'Merriweather';
  font-size: 1.4rem;
  width: 85vw;
  margin: 0 auto;
  padding: 3rem;
  text-align: left;
  line-height: 200%;
}

.sectionHeader {
  position: relative;;
  height: 100vh;
  margin: 5rem 0 0 0;
  overflow: hidden;
}

h3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 12rem;
  text-align: center;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  opacity: 0;
  z-index: 1;
  transition: 1s;
}

.fadeIn {
  opacity: 1;
  top: 50%;
}

.sectionImg {
  object-fit: cover;
  height: 100%;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  transition: 1s;
}

.colorized {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

.captionBlock {
  font-family: 'Raleway';
  font-weight: 500;
  padding: 9rem;
  font-size: 3rem;
  text-align: center;
  line-height: 130%;
}

#haring {
  object-position: 65% 50%;
}

.lightBox {
  margin: 0 auto;
  position: relative;
  width: 80vw;
  max-width: 1000px;
}

.lightBG, .lightFG {
  width: 100%;
  transition: .5s;
}

.lightFG {
  position: absolute;
  left: 0;
}

.focused{
  transform: scale(1.2);
}

.blurred {
  -webkit-filter: blur(10px); -moz-filter: blur(10px);
  -o-filter: blur(10px); -ms-filter: blur(10px); 
  filter: url(#blur); filter: blur(10px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

body {
  /* any weird side fx? prevents lightbox scaling from bleeding out */
  overflow-x: hidden;
}


/* media queries for non-desktop */

@media only screen and (min-width: 1081px) {
  #navBar {
    width: 33vw;
  }

  #navButton, #navClose {
    width: 3rem;
  }

  #navClose {
    margin: .5rem;
  }

  .quote {
    font-size: 2.5rem;
  }

  .citation {
    line-height: 200%;
  }

  .author {
    font-size: 1.5rem;
  }

  .source {
    font-size: .75rem;
  }

  .textBlock {
    font-size: 1.25rem;
    width: 50vw;
    line-height: 190%;
  }

  #marlon {
    object-position: 50% 30%;
  }

  .captionBlock {
    font-size: 2.75rem;
  }
}